@page
@model ResourceManager.Pages.Resource.DeleteModel
@{
    ViewData["Title"] = "Видалення ресурсу";
}

<h1>Delete</h1>

<h3>Ви дійсно хочете видалити цей ресурс?</h3>
<div>
    @await Html.PartialAsync("InfoView", Model.Resource)
</div>

<form method="post">
    <input type="hidden" asp-for="@Model.Resource.Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-page="./Index">Список ресурсів</a>
    <a asp-page="./Details" asp-route-id="@Model.Resource.Id">
        <i class="fa fa-info-circle" style="color:blue"></i> Деталі
    </a>
    <a asp-page="./Edit" asp-route-id="@Model.Resource.Id">
        <i class="fa fa-edit" style="color:orange"></i> Редагувати
    </a>|
</form>
