@page
@model ResourceManager.DeleteModel
@{
    ViewData["Title"] = "Деталі для ресурсів";
}

<h1>Ресурс</h1>

<div>
    @await Html.PartialAsync("InfoView", Model.Resource)
</div>

<div>
    <a asp-page="./Index">Список ресурсів</a>
    <a asp-page="./Edit" asp-route-id="@Model.Resource.Id">
        <i class="fa fa-edit" style="color:orange"></i> Редагувати
    </a>|
    <a asp-page="./Delete" asp-route-id="@Model.Resource.Id">
        <i class="fa fa-times-circle" style="color:red"></i> Видалити
    </a>
</div>